{% extends "tracker_info/base.html" %}
{% block content %}
<div class="main-content"> 
    <section class="section">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card card-statistic-2">
            <div class="card-stats">
              <div class="card-stats-title">
                
              </div>
              <div class="card-stats-items">
                {% if user.profile.is_supervisor %}
                <h6>status:<strong style="color:yellowgreen;">Supervisor</strong></h6>
                {% elif user.profile.is_coordinator %}
                <h6>status:<strong style="color:yellowgreen;">Coordinator</strong></h6>
                {% elif user.profile.is_FC %}
                <h6>status:<strong style="color:yellowgreen;">Field Coordinator</strong></h6>
                {% elif user.is_staff  %}

                <h6>status:<strong style="color:yellowgreen;">Admin</strong></h6>
                {% elif user.is_superuser  %}

                <h6>status:<strong style="color:yellowgreen;">Superuser</strong></h6>

                {% else %}

                <h6>status:<strong style="color:yellowgreen;">Normal</strong></h6>

                {% endif %}


                {% if user.profile.is_supervisor == False %}
                <div class="card-stats-item">
                <a class="btn btn-primary" href="{% url 'tracker-add-survey-details' %}">+ New record</a>
                </div>
                {% endif %}
                
               
                
              </div>
            </div>
            <div class="card-icon shadow-primary bg-primary" style="margin-bottom:50px;">
              <i class="fas fa-archive"></i>
            </div>
            <div class="card-wrap" style="margin-bottom:50px;">
              <div class="card-header">
                <h4>Total Entries</h4>
              </div>
              <div class="card-body">
                {{mytotal}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card card-statistic-2">
            <div class="card-chart">
              <canvas id="balance-chart" height="80"></canvas>
            </div>
            <div class="card-icon shadow-primary bg-primary">
              <i class="fas fa-check"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Complete</h4>
              </div>
              <div class="card-body">
                {{complete}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card card-statistic-2">
            <div class="card-chart">
              <canvas id="sales-chart" height="80"></canvas>
            </div>
            <div class="card-icon shadow-primary bg-success">
              <i class="fas fa-edit"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Incomplete</h4>
              </div>
              <div class="card-body">
                {{incomplete}}
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h4>Records</h4>
              <div class="card-header-action">
                <a href="{% url 'tracker-view-survey-details' %}" class="btn btn-danger">View More <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive table-invoice" style="margin:20px;">
                <table class="table table-striped" id="summary">
                <thead>
                  <tr>
                    <th>HHID</th>
                    <th>Supervisor</th>
                    
                    <th>RR Name</th>
                    <th>doc status </th>
                    <th>Last Edit</th>
                    <th>Action</th>
                  </tr>
                </thead>
                 
                <tbody>
                  {% for tracking in trackings %}
                  <tr>
                    <td>{{tracking.HHID}}</td>
                    <td class="font-weight-600">{{tracking.supervisor}}</td>
                    <td class="font-weight-600">{{tracking.RR_name}}</td>
                    
                    
                    <td>
                      {% if tracking.mark == False %}
                      <div class="badge badge-danger">Incomplete</div>
                    {% else %}
                    <div class="badge badge-success">Complete</div>
                    {% endif %}
                    </td>
                    <td>{{tracking.last_updated}}</td>
                    <td>
                      {% if tracking.user.username == request.user.username  %}
                      <a href="{% url 'tracker-update-survey-details' tracking.pk %}" class="btn btn-primary">Continue</a>
                      {% else %}
                      <i class="fa fa-times">author</i>
                      {% endif %}
                    </td>
                   
                  </tr>
                  {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-hero">
            <div class="card-header">
              <div class="card-icon">
                <i class="far fa-question-circle"></i>
              </div>
              {% if user.is_superuser %}
              <h4>{{all}}</h4>
              {% endif %}
              <div class="card-description">General Entries</div>
            </div>
            <div class="card-body p-0">
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script>

  
    $('#summary').dataTable( {
        "lengthMenu": [10, 100, 1000, 2000],
        "pageLength": 10
    } )

</script>

{% endblock content %}