asgiref
crispy-bootstrap5
Django
django-crispy-forms
et-xmlfile
gunicorn
numpy
openpyxl
packaging
pandas
python-dateutil
pytz
six
sqlparse
typing_extensions
tzdata
whitenoise
pillow
python-dotenv
psycopg2-binary
